#tensorflow==1.7.1
Pillow>=4.2.1
matplotlib~=3.6.1
numpy>=1.11.0
jupyter
pytest>=3.2.2
docopt~=0.6.2
pyyaml~=6.0
protobuf==3.17.1
grpcio>=1.11.0
torch>=0.4.0
pandas
scipy
ipykernel

setuptools~=63.4.1
unityagents~=0.4.0
hyperopt~=0.2.7
gym~=0.26.2
ipython~=8.5.0